/* ********* Framework ********* */

* {
	box-sizing: border-box;
}

/* Row */
.row {
	width: 100%;
}

/* Desktop */
@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		float: left;
	}
	.col-lg-1 {
		width: 8.33%;
	}
	.col-lg-2 {
		width: 16.66%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-4 {
		width: 33.33%;
	}
	.col-lg-5 {
		width: 41.66%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-7 {
		width: 58.33%;
	}
	.col-lg-8 {
		width: 66.66%;
	}
	.col-lg-9 {
		width: 74.99%;
	}
	.col-lg-10 {
		width: 83.33%;
	}
	.col-lg-11 {
		width: 91.66%;
	}
	.col-lg-12 {
		width: 100%;
	}
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
	}
	.col-md-1 {
		width: 8.33%;
	}
	.col-md-2 {
		width: 16.66%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33.33%;
	}
	.col-md-5 {
		width: 41.66%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-7 {
		width: 58.33%;
	}
	.col-md-8 {
		width: 66.66%;
	}
	.col-md-9 {
		width: 74.99%;
	}
	.col-md-10 {
		width: 83.33%;
	}
	.col-md-11 {
		width: 91.66%;
	}
	.col-md-12 {
		width: 100%;
	}
}

/* Mobile */
@media (max-width: 767px) {
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
		float: left;
	}
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 74.99%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}
}


/* ********* Site ********* */

html {
	min-width: 280px;
	font-size: 100%;
}

h1, h2 {
	font-family: sans-serif;
}

h1 {
	text-align: center;
	font-size: 1.75em;
}

@media (min-width: 992px) {
	h1 {
		margin-bottom: 40px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	h1 {
		margin-bottom: 27px;
	}
}

h2 {
	margin: 0 0 15px 0;
	padding: 5px;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	position: relative;
	right: -55%;
	width: 45%;
	text-align: center;
	font-size: 1.25em;
}

.color-red {
	background-color: #AA1115;
	color: #FFFFFF; 
}
.color-magenta {
	background-color: #FF55FF;
}
.color-yellow {
	background-color: #AAAA55;
}

.section {
	border: 1px solid black;
	margin: 15px;
	background-color: #A5A5A5;
}

p {
	padding-left: 15px;
	padding-right: 15px;
	font-family: cursive;
}